{%- comment -%} Lista JSON: City Criciúma + cidades_atendidas (vazias ignoradas) + Country do atendimento online {%- endcomment -%}
[{ "@type": "City", "name": {{ site.data.negocio.empresa.cidade | jsonify }} }
{%- for c in site.data.negocio.cidades_atendidas %}{% if c and c != "" %}, { "@type": "City", "name": {{ c | jsonify }} }{% endif %}{% endfor %}
{%- assign pais = site.data.negocio.atendimento_online_pais %}{% if pais and pais != "" %}, { "@type": "Country", "name": {{ pais | jsonify }} }{% endif %}]